<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<% include headers/head %>
</head>

<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Home</h1>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Login
				</a>
				<a href="/registrar" class="btn btn-light">
					<span class="fa fa-user"></span> Sign up
				</a>
			</div>
		</div>
	</div>

</body>
</html>